.nav-item{
    padding-left: 70px;
    padding-right: 70px;
}

section{
    height: 110vh;
    width: 100%;
    align-items: center;
    text-align: center;
    font-size: 24px;
    padding: 2rem;
    background-color: gray;
}

nav .container ul li.active {
    background-color: rgb(239, 164, 164);
    transition: 0.3 ease background-color;
    border-radius: 15px;
}

.background{
    background-size: cover;
    max-width:100%;
    max-height: auto;
}

#homePage{
    background-image:  url(imgs/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#resumePage{
    background-image:  url(imgs/bg1.jpg);
    background-size: cover;
    background-attachment: fixed;    
}

.mugshot{
    padding-left: 10%;
    max-width: 60%;
    max-height: 60%;
}

.introText{
    font-size: min(2vw, 20px);
    color: white;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: -16px;
    text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}



.img-left{
    padding-left: 10%;
    width: auto;
    height: 550px;
}

.img-right{
    padding-right: 10%;
    width: auto;
    height: 550px;
}

.sideText{
    padding-left: 12rem;
    padding-right: 12rem;
}



.section2{
    height: auto;
    background-color: #F5F6FB;
}

.section3{
    height: auto;
}

.align-items-center{
    padding-top: 50px;
    padding-bottom: 50px;
}










